.todo {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 1rem;
  transition: background .3s ease;
  justify-content: space-between;

  p, input{
    margin: 0;
  }

  > :first-child {
    margin-right: 1rem;
  }

  &:hover {
    background: #f0f0f0;
  }
}
.todo__subtext {
  color: #999;

}
.todo-completed {
  p, .todo-subtext {
    color: $light-color;
    text-decoration: line-through;
    margin-right: 0em
  }
}
.todo_x {

  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  
  margin-left: 6em;;
  border-radius: 100%;

  &:hover {
    color: $red;
  }

}
